*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.slider {
  width: 90%;
  height: 60%;
  overflow: hidden;
  align-content: center;
  margin: 0 auto;
}

.slide {
  position: relative;
  top: 0;
  left: auto;
  
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

@media screen and (min-width: 600px) {
  .slide img {
    width: 100%;
    height: 100%;
  }
}

.slide img {
  // width: 100%;
  height: 100%;
}

.current {
  opacity: 1;
  transform: translateX(0);
}

.content {
  position: absolute;
  top: 20rem;
  left: 5rem;
  opacity: 0;
  width: 20%;
  color: #fff;
  padding: auto;
  background: rgba(0, 0, 0, 0);
  animation: slide-up 1s ease 0.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes slide-up {
  0% {
    visibility: visible;
    top: 50%;
  }
  100% {
    visibility: visible;
    top: 35%;
  }
}

@media screen and (max-width: 600px) {
  .content {
    width: 100%;
  }
}

.content > * {
  color: #fff;
  margin-bottom: 1rem;
}

.current .content {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s ease;
}

hr {
  height: 2px;
  background: white;
  width: 50%;
}

.content {
    color: hsl(0, 0%, 95%);
    font-size: 13.4px;
    width: 20% auto;
}

.content h3 {
    font-size: 3.6em;
    text-align: justify;
    width: auto;
}

.content h5 {
    font-size: 1.5em;
    font-weight: 300;
    text-align: justify;
    line-height: 0.7cm;
}

.content a {
    font-size: 1.15em;
    font-weight: 450;
    text-decoration: none;
    color: rgb(238, 159, 23);
    background: #ffffff;
    width: 150px;
    display: block;
    margin-top: 10px;
    padding: 12px 20px 12px 20px;
    &:hover {
      cursor: pointer;
    }
}
// *********
// .sliderContainer {
//     width: 100%;
//     display: flex;
// }

// .dotsContainer {
//     text-align: center;
// }

// .dot {
//     cursor: pointer;
//     height: 15px;
//     width: 15px;
//     margin: 0 2px;
//     background-color: #bbb;
//     border-radius: 50%;
//     display: inline-block;
//     transition: background-color 0.6s ease;
// }

// .mySlides{
//     width: 100%;
//     height: 600px;
//     display: flex;
//     justify-content: left;
//     align-items: center;
//     padding-left: 15%;
//     flex-shrink: 0;
// }


// .numbertext {
//     color: #f2f2f2;
//     font-size: 12px;
//     padding: 8px 12px;
//     position: absolute;
//     top: 0;
// }