.containerBar {
    width: 440px;
    position: relative;
    background-position: center;
    background-size: cover;
    display: flex;
    //align-items: center;
    //justify-content: center;
}

.container {
    //position: relative;
    width: 100%;
    max-width: 560px;
    background: rgba(255, 94, 0, 0.504);
    display: flex;
    //align-items: left;
    border-radius: 68px;
    padding: 6px 0px 6px 20px;
}

.input {
    background: transparent;
    flex:1;
    border: 0;
    outline: none;
    padding: 9px;
    font-size: 17px;
    font-weight: bold;
    color: #ffffff
}

::placeholder {
    color: #ffffff;
}

.button {
    position: absolute;
    margin-left: 85.5%;
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #000000;
    cursor: pointer;
}
.containerBar button img {
    width: 35px;
}