.footerContainer {
    background-color: black;
    text-align: center;
}

.footerContainer h5 {
    color: aliceblue;
    font-size: 1rem;
    padding: 30px;
}

.footerContainer a {
    color: orange;
}