.add{
    position: absolute;
    text-align: right;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    width: 50%;
    margin-top: -25px;
    margin-left: -138px;
    text-decoration: underline;
    border: 0;
    background-color: transparent;
    color: rgb(250, 139, 59);
    cursor: pointer;
}

//CardShopping
.containerCardShop {
    position: relative;
    width: 100%;
    flex: 1;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 40px;
    background-color: rgba(240, 248, 255, 0.54);
    border-radius: 11px;
    h1 {
        padding-bottom: 15px;
    }
    h3 {
        padding-bottom: 10px;
        color: #5b5767;
        a {
            color:rgb(214, 99, 32);
            font-size: 2em;
            padding-left: 10px;
        }
    }
}

.deleteButton {
    position: absolute;
    width: 130px;
    font-size: 0.87rem;
    font-weight:bold;
    padding-top: 12px;
    border: 0;
    right: 0;
    text-align: right;
    cursor: pointer;
    background: transparent;
    padding-right: 25px;
    img {
        width: 25px;
        height: 25px;
        margin: -5px 2px;
    }
}

.name {
    width: 80%;
    font-size: 1.6em;
}

.contadorContainer {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 75%;
    right: -5%;
    display: flex;
    background-color: #ffffffff;  
    border-radius: 50px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.1);
    
    h1 {
        text-align: center;
        font-size: 20px;
        padding: 6px 18px;
        border: none;
        color: #202030;
        background-color: #ffffffff;
        justify-content: center; 
    }
    button {
        color:rgb(214, 99, 32);
        background-color: #ffffffff;
        border: none;
        cursor: pointer;
        font-size: 30px;
    }
}

.decrement {
    padding: 0px 3px 0px 10px;
    border-radius: 45px 0 0 45px;
}

.increment {
    padding: 0px 10px 0px 3px;
    border-radius: 0 45px 45px 0;
}

//ShoppingCar
.shopContainer {
    width: 89%;
    flex: 1;
    flex-wrap: wrap;
    display: grid ;
    grid-gap: 100px;
    grid-template-columns: 2fr 1fr;
    margin: 0 auto;
    padding: 30px 13px 50px 13px;
}

// .carShop{
    
// }

.miCarrito {
    font-size: 2em;
    padding-bottom: 20px;
}

.containerRes {
    width: 100%;
    height: 85%;
    flex: 1;
    margin: 64px auto;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgba(240, 248, 255, 0.714);
    border-radius: 11px;
    h1 {
        padding-bottom: 25px;
    }
    h3 {
        padding-bottom: 25px;
        font-size: 1.18em;
        font-weight: 400;
        padding-top: 1px;
        a {
            color: rgb(225, 105, 19);
            font-weight: 550;
            padding-left: 12px;
        }
    }
    button {
        font-size: 1.2em;
        font-weight: 600;
        color: white;
        background-color: rgba(239, 99, 0, 0.775);
        padding: 1% 36%;
        border-radius: 50px;
        border-style: none;
        cursor: pointer;
    }
}

.buttonContainer {
    padding-top: 5%;
}

.noProducts {
    position: absolute;
    width: 100%;
    margin-top: 70px;
    font-size: 1.5em;
    font-weight: 700;
    color: rgb(214, 99, 32);
}