
.ordenContainer {
    width: 70%;
    margin-top: 150px;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    background-color: white;
}

.subOrden {
    width: 65%;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0 auto;

}

.it {
    padding: 20px;
    font-size: 0.8em;
    
    h3 {
        font-size: medium;
    }
    h2 {
        font-size: 1.5em;
        color: rgb(255, 132, 0)
    }
}

.user {
    margin-top: 10px;
    h3 {
        color: grey;
        font-size:larger;
        padding-top: 3px;
        font-weight:450 ;
        a {
           color: black;
           font-size: medium;
           padding-right: 25px;
        }
    }
}

.calc {
    margin-top: 30px;
    padding-bottom: 50px;
    h3 {
        color: rgb(248, 114, 42);
        font-size:x-large;
        padding-top: 3px;
        font-weight:550 ;
        a {
           color: black;
           font-size: medium;
           padding-right: 25px;
        }
    }
}