.category {
    position: relative;
    display: block;
}

.category h4 {
    list-style: none;
    text-align: none;
    text-decoration: none;
}

.sub-category {
    display: none;
    //position: absolute;
    width: 100%;
    background-color: #f57b30;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0px 12px;
    margin-top: 2px;
    margin-left: 50%;
    z-index:1;
    list-style: none;
    text-align: none;
    text-decoration: none;
}

.category:hover .sub-category {
    display: block;
}

.link {
    //list-style: none;
    text-align: justify;
    text-decoration: none;
    font-size: large;
    color: azure;

}