.sele{
    width:100%;
    height:auto;
    margin-top: 10px;
    

}

body{
    background: rgba(223, 171, 103, 0.636);
    background:line-gradient(circle, rgba(251,205,63,0) 0%, rgba(195,161,80,0) 31%, rgba(238,126,6,0.5466561624649859) 44%, rgba(242,125,21,0.46262254901960786) 50%, rgba(162,208,101,0) 72%, rgba(116,252,70,0) 100%);
}
.sele2{
    width:100%;
    color: black;
    background-color: rgb(236, 233, 233);
    top: 100px;
    font-weight: bold;
}

.c{
    width:100%;
    height: 100%;
   
}

.general-contain{
    
    width:50%;
    position: relative;
    margin: 0 auto;
    top:50px;
    // align-content:center;
    // align-items: center;
} 
.GoHome button{
    font-size: 1.9em;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background: transparent;
    cursor:pointer;
    border-style: none;
    padding:15px;
}
button:hover {
    color:rgb(255, 111, 0)
}


.Next{
    padding-top: 15px;
}
.f{
    padding: 9px;
}
.f-input input{
  background: rgba(247, 226, 190, 0.937) !important;
  width: 80%;
  border-radius: 60px;
  flex:1;
  border: 0;
  Outline:none;
  font-size: 1.8em;
  text-align:center;
}

.f-input  textarea{
    background: rgba(247, 226, 190, 0.937) !important;
    border-radius: 10px;
    width: 60%;
    height:auto;
    text-align:center;

}
.general{
  width: 100%;
}
