.form {
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #FFF;
}

header {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

form {
    margin-top: 30px;
}

.form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: black;
    border-radius: 6px;
}

.field input::placeholder {
    color: #b4abab;
}

.field input {
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}

.field input:focus {
    border-bottom-width: 2px;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

.field button {
    color: #fff;
    background-color: rgba(255, 94, 0, 0.504);
    transition: all 0.3s ease;
    cursor: pointer;
}

.field button:hover {
    background-color: rgba(255, 94, 0, 0.504);
}

.form-link {
    text-align: center;
    margin-top: 10px;
}

.form-link span,
.form-link a {
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}

.form a {
    color: rgba(255, 94, 0, 0.504);
    text-decoration: none;
}

.form-content a:hover {
    text-decoration: underline;
}

.line {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}

.line::before {
    content: 'O';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}

.media-options a {
    display: flex;
    align-items: center;
    justify-content: center;
}

img.google-img {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

img.google-img {
    height: 20px;
    width: 20px;
    object-fit: cover;
}

a.google {
    border: 1px solid #CACACA;
}

a.google span {
    font-weight: 500;
    opacity: 0.6;
    color: #232836;
}

@media screen and (max-width: 400px) {
    .form {
        padding: 20px 10px;
    }
}

.google {
    width: 100%;
    display: flex;
    justify-content: center;
}

.error {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236 72 72);
    margin: 1rem 0;
    padding: 0.5rem;
    color: white;
    border-radius: 0.5rem;
    text-align: center;
}

.success {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 193, 138);
    margin: 1rem 0;
    padding: 0.5rem;
    color: white;
    text-align: center;
    border-radius: 0.5rem;
}

.info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(16, 165, 219);
    margin: 1rem 0;
    padding: 0.5rem;
    color: white;
    border-radius: 0.5rem;
    text-align: center;
}

.spinner_auth {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}