.formContainer {
    width: 100%;
    justify-content: center;
    text-align: center;
    display: flex;   
    margin-top: 20px;
}

.formulario {
    background-color: rgba(255, 255, 255, 0.641);
    width: 50%;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    border-radius: 50px;
    padding: 25px;
    h3 {
        font-size: 1.3em;
        font-weight: 450;
        text-align:left;
        padding-top: 20px;
    }
    input {
        width: 85%;
        height: 36px;
        border-radius: 50px;
        border-style: none; 
        font-size: 1.15em;
    }
}

.buttonContainer {
    button {
        color:rgb(214, 99, 32);
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 20px;
        font-weight: 600;
    }
}